<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top up account</title>
</head>
<body>
    <form th:action="@{/topup}" th:method="POST">
        <p>Card</p>
        <input type="text" name="card">
        <p>Money</p>
        <input type="text" name="value">
        <p>Type:</p>
        <p>Cash</p>
        <input type="radio" name="type" value="cash">
        <p>Card</p>
        <input type="radio" name="type" value="card">
        <input type="submit" value="Submit">
    </form>
</body>
</html>